@import "mixins";

$font-helvetica45: "HelveticaNeueW01-45Ligh", "HelveticaNeueW02-45Ligh", "HelveticaNeueW10-45Ligh", sans-serif;
$font-helvetica55: "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", sans-serif;
$font-helvetica65: "HelveticaNeueW01-65Medi", "HelveticaNeueW02-65Medi", "HelveticaNeueW10-65Medi", sans-serif;
$font-helvetica75: "HelveticaNeueW01-75Bold", "HelveticaNeueW02-75Bold", "HelveticaNeueW10-75Bold", sans-serif;

.container {
  width: 100%;
  height: 100%;
}

.parameters form {
  .ng-invalid {
    @include input(crimson);
  }
  .ng-valid {
    @include input(#228b22);
  }
}

.content .status-bar {
  margin-top: 10px;
}

.grid-wrapper {
  user-select: none;
  .grid {
    border-spacing: 0;
    margin-top: 10px;
  }
  .tile {
    padding: 2px;
    background-color: lightcyan;
    border: 1px solid grey;
    cursor: default;
    text-align: center;
    width: 20px;
    height: 20px;
  }
  .discovered {
    box-shadow: inset 0 0 3px grey;
    background-color: lightgray;
  }
  .marked {
    box-shadow: inset 0 0 3px #0cdc00;
    background: rgba(131, 255, 71, 0.71);
  }
  .mined {
    box-shadow: inset 0 0 3px #dc0500;
    background: rgba(255, 28, 28, 0.71);
  }
}