<!doctype html>
<!--
  #set( $languages = ["de","en","es","fr","it","ja","ko","pl","pt","ru","tr"] )
  #if( !$languages.contains($locale) )
    #set( $locale = "en" )
  #end
-->
<html ng-app="ngMinesweeperApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="${clientTopology.ngMinesweeperStaticsUrl}">
    <title>ngMinesweeper</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="${clientTopology.staticBaseUrl}services/third-party/fonts/Helvetica/fontFace.css">
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- #if( false ) -->
    <script>
      /* jshint ignore:start */
      ENABLE_MOCKS = ${enableMocks};
    </script>
    <!-- #end -->
    
  </head>
  <body>
    
    <!-- Add your site or application content here -->
    <div class="container" ng-include="'views/main.html'"></div>
    

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_${locale}.js"></script>
    <script src="scripts/locale/messages_${locale}.js"></script>

    <!-- build:js scripts/modules.js -->
    <script src="bower_components/uri.js/src/URI.js"></script>
    <script src="bower_components/wix-angular/dist/wix-angular.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild --><!-- scripts -->

    <!-- #if( false ) -->
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <!-- build:js(test) scripts/mocks.js -->
    <script src="mock/server-api.js"></script>
    <!-- endbuild -->
    <script>
      if (ENABLE_MOCKS) {
        angular.module('ngMinesweeperApp').requires.push('ngMinesweeperAppMocks');
      }
    </script>
    <!-- #end -->
    
  </body>
</html>
